<div class="page">
  <div class="app-header">
    <div class="wrapper">
      <h4>Select winner</h4>
      <a href="./" class="logout-btn"
        ><img src="./../../assets/logout.svg" alt=""
      /></a>
    </div>
  </div>
  <div class="app-body">
    <div class="wrapper">
      <div class="card">
        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide
            ><img src="./../../assets/slide-1.png" alt=""
          /></ng-template>
          <ng-template carouselSlide
            ><img src="./../../assets/slide-1.png" alt=""
          /></ng-template>
          <ng-template carouselSlide
            ><img src="./../../assets/slide-1.png" alt=""
          /></ng-template>
        </owl-carousel-o>
      </div>
      <ul class="user-audio-list">
        <li>
          <div class="card">
            <p>John Smith</p>
            <span>ZM: Kevin Peter</span>
            <audio controls>
              <source src="./../../assets/horse.ogv" type="audio/ogg" />
              <source src="./../../assets/horse.mp3" type="audio/mpeg" />
              Your browser does not support the audio element.
            </audio>
          </div>
        </li>
        <li>
          <div class="card">
            <p>John Smith</p>
            <span>ZM: Kevin Peter</span>
            <audio controls>
              <source src="./../../assets/horse.ogv" type="audio/ogg" />
              <source src="./../../assets/horse.mp3" type="audio/mpeg" />
              Your browser does not support the audio element.
            </audio>
          </div>
        </li>
        <li>
          <div class="card">
            <p>John Smith</p>
            <span>ZM: Kevin Peter</span>
            <audio controls>
              <source src="./../../assets/horse.ogv" type="audio/ogg" />
              <source src="./../../assets/horse.mp3" type="audio/mpeg" />
              Your browser does not support the audio element.
            </audio>
          </div>
        </li>
        <li>
          <div class="card">
            <p>John Smith</p>
            <span>ZM: Kevin Peter</span>
            <audio controls>
              <source src="./../../assets/horse.ogv" type="audio/ogg" />
              <source src="./../../assets/horse.mp3" type="audio/mpeg" />
              Your browser does not support the audio element.
            </audio>
          </div>
        </li>
      </ul>
      <div class="card">
        <h3>Audio Preview</h3>
        <audio controls>
          <source src="./../../assets/horse.ogv" type="audio/ogg" />
          <source src="./../../assets/horse.mp3" type="audio/mpeg" />
          Your browser does not support the audio element.
        </audio>
      </div>
      <button type="button" class="btn full">Submit</button>
    </div>
  </div>
</div>
