.file-group {
  margin-top: 2rem;
  .btn {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 1rem;
    input[type="file"] {
      opacity: 0;
      position: absolute;
    }
  }
}
audio {
  width: 100%;
  display: block;
  margin-top: 1rem;
}
