@import "./../../assets/scss/variables.scss";
.login-screen {
  .wrapper {
    padding: 0 2rem;
  }
  .login-header {
    background: $blue;
    border-radius: 0 0 1rem 1rem;
    padding: 2rem 0 4rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    .logo {
      display: block;
      width: 180px;
      filter: brightness(0) invert(1);
      margin: 0 auto;
    }
    h1 {
      color: #fff;
    }
  }
  .login-body {
    transform: translateY(-2rem);
    .label-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 0.5rem;
      a {
        text-decoration: none;
        color: $blue;
      }
    }
    .btn {
      margin-top: 1.5rem;
    }
  }
}
