<div class="login-screen">
  <div class="login-header">
    <div class="wrapper">
      <img src="./../../assets/logo.png" alt="logo" class="logo" />
    </div>
  </div>
  <div class="login-body">
    <div class="wrapper">
      <div class="card">
        <form>
          <div class="form-group">
            <label for="">Username</label>
            <input
              type="text"
              placeholder="Enter your full name"
              class="form-control"
              autocomplete="off"
            />
          </div>
          <div class="form-group">
            <label for="">Email</label>
            <input
              type="email"
              placeholder="Enter your email ID"
              class="form-control"
              autocomplete="off"
            />
          </div>
          <div class="form-group">
            <label for="">Password</label>
            <input
              type="password"
              placeholder="Set your password"
              class="form-control"
              autocomplete="off"
            />
          </div>
          <div class="form-group">
            <label for="">ZSM</label>
            <select name="" id="" class="form-control">
              <option value="" disabled selected>Select your ZSM</option>
              <option value="">john.smith@gmail.com</option>
              <option value="">john.smith@gmail.com</option>
              <option value="">john.smith@gmail.com</option>
              <option value="">john.smith@gmail.com</option>
            </select>
          </div>
          <button type="button" class="btn full">Sign Up!</button>
          <div class="label-container">
            <a href="./">Login here!</a>
            <a href="./">Forgot password</a>
          </div>
        </form>
      </div>
      <div class="card">
        <form>
          <div class="form-group">
            <label for="">Email</label>
            <input
              type="email"
              placeholder="Enter your email ID"
              class="form-control"
              autocomplete="off"
            />
          </div>
          <div class="form-group">
            <label for="">Password</label>
            <input
              type="password"
              placeholder="Set your password"
              class="form-control"
              autocomplete="off"
            />
          </div>
          <button type="button" class="btn full">Log In!</button>
          <div class="label-container">
            <a href="./">Signup here!</a>
            <a href="./">Forgot password</a>
          </div>
        </form>
      </div>
      <div class="card">
        <form>
          <div class="form-group">
            <label for="">Email</label>
            <input
              type="email"
              placeholder="Enter your email ID"
              class="form-control"
              autocomplete="off"
            />
          </div>
          <button type="button" class="btn full">Submit!</button>
          <div class="label-container">
            <a href="./">Login here!</a>
            <a href="./">Signup here!</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
