<div class="page">
  <div class="app-header">
    <div class="wrapper">
      <h4>Challenge Title</h4>
      <a href="./" class="logout-btn"
        ><img src="./../../assets/logout.svg" alt=""
      /></a>
    </div>
  </div>
  <div class="app-body">
    <div class="wrapper">
      <ul class="activity-listing">
        <li class="card">
          <div class="card-number">1.</div>
          <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <span>20/01/2021</span>
          </div>
        </li>
        <li class="card">
          <div class="card-number">2.</div>
          <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <span>20/01/2021</span>
          </div>
          <div class="close-card">Closed</div>
        </li>
        <li class="card">
          <div class="card-number">3.</div>
          <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <span>20/01/2021</span>
          </div>
          <div class="close-card">Closed</div>
        </li>
        <li class="card">
          <div class="card-number">4.</div>
          <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <span>20/01/2021</span>
          </div>
        </li>
        <li class="card">
          <div class="card-number">5.</div>
          <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <span>20/01/2021</span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
